<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Login 2 - Bootstrap Brain Component -->
        <div class=" py-3 py-md-5">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class=" p-4 p-md-5 rounded shadow-sm" style="background-color:#000;">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5 sx">
                        <h2 class="text-white text-center" style="font-weight:bold;">Complain Management System</h2>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="row gy-3 gy-md-4 overflow-hidden">
                      <div class="col-12">
                        <label for="email" class="form-label text-white">UserId <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="employeeID" placeholder="Enter Employee ID" required />
                      </div>
                      <div class="col-12">
                        <label for="password" class="form-label text-white">Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="{{ passwordFieldType }}" class="form-control" formControlName="password" placeholder="Enter Password" required />
                          <button class="btn btn-warning" type="button" (click)="togglePasswordVisibility()" style="color:#000">
                            <i class="fas fa-eye{{ showPassword ? '-slash' : '' }}"></i>
                          </button>
                        </div>
                      </div>
                      
                      <div class="col-12 mt-3">
                        <div class="d-grid">
                          <button class="btn btn-md btn-warning" type="submit"  [disabled]="loginForm.invalid" style="font-weight:600;">Login</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


