/* You can add global styles to this file, and also import other style files */
button{
    cursor: pointer !important;
}
@media(max-width:400px)
{
 
    .btn,
    label{
        font-size: 14px;
        font-weight: 600;
    }

}

th,
td,
td button{
    font-size: 12px;
}