<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <!-- <img src="https://pbs.twimg.com/media/EeUI99bUcAMiRFa.jpg:large" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <h4 class="brand-text font-weight-light text-center">Complain </h4>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://pbs.twimg.com/media/EeUI99bUcAMiRFa.jpg:large" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">Alexander Pierce</a>
        </div>
      </div>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a routerLink="add-category" class="nav-link">
              <i class="fa-solid fa-plus"></i>
              <p>
                Add Categories
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="complaint-track" class="nav-link">
              <i class="fa-solid fa-shuffle"></i>
              <p>
                Complaint Tracking
              </p>
            </a>
          </li>
        
          <li class="nav-item">
            <a routerLink="raise-complaint" class="nav-link">
              <i class="fa-solid fa-pen"></i>
              <p>
               Raise Complaint
              </p>
            </a>
          </li>
        
       
          <li class="nav-header">COMPLAIN</li>
          <!-- <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-people-group"></i>
              <p>
                Manage Complain
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a  class="nav-link" routerLink="all_complain">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Complain</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="not-process-complain">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Not Processed</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="process-complain">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Processed</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="refer_complain">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Refered Complain</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Assign Complain</p>
                </a>
              </li> -->
            </ul>
          </li>




          <li class="nav-header">DATA</li>
          <!-- <li class="nav-item">
            <a href="iframe.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed IFrame Plugin</p>
            </a>
          </li> -->
  
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-file"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="all-complain-report" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Complains</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="department-wise" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Department wise</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="solved-complaint" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Solved complain</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="pending-complaint" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pending Complain</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="complain-per-date" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Complain per Date </p>
                </a>
              </li>
            </ul>
          </li>
         
      
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>